:root {
    --primaryDark: #256eff;
    .--primaryDark: #053c5e;
    --primary: #3ddc97;
    .--primary: #1f7a8c;
    --primaryLight: #fcfcfc;
    .primaryLight: #bfdbf7;
    --text: #46237a;
    .--text: #a31621;
    --header: #ff495c;
    .--header: #db222a;
}

body {
    background-color: var(--primaryLight);
    font-family: 'Quicksand', sans-serif;

}

.main {
    height: 91.5vh;
    padding: 0px;
    border-bottom: solid 1px var(--text);
    position: relative;

}

.navigation {
    background-color: var(--primaryLight) ! important;
}

.purple {
    color: var(--text) ! important;
}

.pink {
    color: var(--header) ! important;
}

.green {
    color: var(--primary) ! important;
}

.blue {
    color: var(--primaryDark) ! important;
}

.white {
    color: var(--primaryLight) ! important;
}

#map {
    width: 60%;
    height: 100%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.wsr {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0px;
    padding-top: 0px;
    border-right: solid 1px var(--text);

}

.green-border {
   border-style: solid;
   border-color: var(--primary);
   border-width: 1px;
}

.reports {
    height: 90%;
    width: 80%;
    padding: 0px;
    overflow-y: scroll;

}

.report-items {
    width: 100%;
    margin: 0px;
}

.primary-button {
    background-color: var(--primaryDark);
    color: var(--primaryLight);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primaryLight);
}

.primary-button:hover {
    background-color: var(--primaryDark);
}

.submit-source-report, .submit-purity-report, .edit-profile, .view-purity-reports {
    display: none;
    position: absolute;
    width: 50%;
    height: 78%;
    top: 7vh;
    right: 25%;
    left: 25%;
    border-radius: 10px;
}

.submit-form {
    width: 50%;
    display: inline-block;
}

.first-name, .last-name {
    width: 25%;
    display: inline-block;
}

.city-form, .zip-form {
    width: 19.5%;
    display: inline-block;
}

.state-form {
    width: 10%;
    display: inline-block;
}