<!DOCTYPE html>
{% load static %}
<html lang = "en">
<head>

    <meta charset='utf-8'>
    <title>College Organizer</title>
    <meta name = 'description' content = "Clean Water Crowdsourcing">
    <meta name = 'author' content = "Sruti Guhathakurta">

    <link rel="stylesheet" type="text/css" href="{% static 'clean_water_crowdsourcing/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'clean_water_crowdsourcing/css/index.css' %}"/>

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{% static 'clean_water_crowdsourcing/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'clean_water_crowdsourcing/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'clean_water_crowdsourcing/js/index.js' %}"></script>

    {% block extrascript %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body {% block class %} {%endblock %}>
{% block content %}
{% endblock %}
</body>

</html>