{% extends 'clean_water_crowdsourcing/layout.html' %}

{%block content %}
<div class="main navigation">
    <div class="jumbotron wsr">
        <h2 class="pink text-center">Water Source Reports</h2>
        <div class="navigation container reports green-border">
            <ul class="list-group report-items">
                {% for report in sourceReports %}
                <li class="list-group-item">
                    {% if manager %}
                    <a href="#" class="view-purity"><h5 class="blue"><b>Type:</b> {{ report.water_type }} <b>Condition:</b> {{ report.water_condition }}</h5></a>
                    {% else %}
                    <h5 class="blue"><b>Type:</b> {{ report.water_type }} <b>Condition:</b> {{ report.water_condition }}</h5>
                    {% endif %}
                    <h5 class="purple">Submitted by {{ report.reporter_name }} on {{ report.report_date }}</h5>
                    <h5 class="purple">Report Number {{ report.report_number }}</h5>
                    {% if admin %}
                    <a href="{% url 'deleteReport' reportNum=report.report_number %}"><h6>Delete</h6></a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="map"></div>
</div>
<div class="green-border submit-source-report navigation">
    <form class="form text-center" name="submit-source-report" method="post">
        {% csrf_token %}
        <h1 class="pink text-center">Submit Water Source Report</h1>
        <label class="purple">Water Location: </label>
        <div class="form-group row">
            <input class="input-lg submit-form form-control-inline" id="water-address" name="water-address" type="text" placeholder = "Enter Address">
        </div>
        <label class="purple">Type of Water</label>
        <div class="form-group row">
            <select name="water-type" id="water-source-type" class="input-lg submit-form form-control-inline">
                <option value="Bottled">Bottled</option>
                <option value="Well">Well</option>
                <option value="Stream">Stream</option>
                <option value="Lake">Lake</option>
                <option value="Spring">Spring</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <label class="purple">Water Condition</label>
        <div class="form-group row">
            <select name="water-condition" id="water-source-condition" class="input-lg submit-form form-control-inline">
                <option value="Waste">Waste</option>
                <option value="Treatable-Clear">Treatable-Clear</option>
                <option value="Treatable-Muddy">Treatable-Muddy</option>
                <option value="Potable">Potable</option>
            </select>
        </div>
        <div class="form-group row" style="margin-top: 5px;">
            <button class="btn btn-lg btn-default primary-button form-control-inline" onclick="submitSourceReport()" type="button">Submit</button>
            <button id="cancel-source-report" class="btn btn-lg btn-default primary-button form-control-inline" type="button">Cancel</button>
        </div>

    </form>
</div>
<div class="green-border submit-purity-report navigation">
    <form class="form text-center" name="submit-source-report" method="post">
        {% csrf_token %}
        <h1 class="pink text-center">Submit Water Purity Report</h1>
        <label class="purple">Water Location</label>
        <div class="form-group row">
            <select name="water-location" id="water-location" class="input-lg submit-form form-control-inline">
                {% for report in sourceReports %}
                <option value="{{ report.water_location }}">{{ report.water_location }}</option>
                {% endfor %}
            </select>
        </div>
        <label class="purple">Water Condition</label>
        <div class="form-group row">
            <select name="water-purity-condition" id="water-purity-condition" class="input-lg submit-form form-control-inline">
                <option value="Safe">Safe</option>
                <option value="Treatable">Treatable</option>
                <option value="Unsafe">Unsafe</option>
            </select>
        </div>
        <label class="purple">Virus PPM</label>
        <div class="form-group row">
            <input class="input-lg submit-form form-control-inline" id="virus-ppm" name="virus-ppm" type="text" placeholder = "Enter Integer">
        </div>
        <label class="purple">Contaminant PPM</label>
        <div class="form-group row">
            <input class="input-lg submit-form form-control-inline" id="contaminant-ppm" name="contaminant-ppm" type="text" placeholder = "Enter Integer">
        </div>
        <div class="form-group row" style="margin-top: 5px;">
            <button class="btn btn-lg btn-default primary-button form-control-inline" onclick="submitPurityReport()" type="submit">Submit</button>
            <button id="cancel-purity-report" class="btn btn-lg btn-default primary-button form-control-inline" type="button">Cancel</button>
        </div>
    </form>
</div>
<div class="green-border edit-profile navigation">
    <form class="form text-center" name="submit-source-report" method="post">
        {% csrf_token %}
        <h1 class="pink text-center">Edit Profile</h1>
        <label class="purple">Name</label>
        <div class="form-group row">
            <input class="input-lg first-name form-control-inline" id="first-name" name="first-name" type="text" value = "{{ account.first_name }}">
            <input class="input-lg last-name form-control-inline" id="last-name" name="first-name" type="text" value = "{{ account.last_name }}">

        </div>
        <label class="purple">Email</label>
        <div class="form-group row">
            <input class="input-lg submit-form form-control-inline" id="email" name="email" type="text" value="{{ account.email }}">
        </div>
        <label class="purple">Address</label>
        <div class="form-group row">
            <input class="input-sm submit-form form-control-inline" id="address_street" name="address_street" type="text" value="{{ account.address_street }}">
            <br>
            <input class="input-sm city-form form-control-inline" id="address_city" name="address_city" type="text" value="{{ account.address_city }}">
            <input class="input-sm state-form form-control-inline" id="address_state" name="address_state" type="text" value="{{ account.address_state }}">
            <input class="input-sm zip-form form-control-inline" id="address_zip" name="address_zip" type="text" value="{{ account.address_zip }}">

        </div>
        <label class="purple">Phone</label>
        <div class="form-group row">
            <input class="input-lg submit-form form-control-inline" id="phone" name="phone" type="text" value="{{ account.phone }}">
        </div>
        <div class="form-group row" style="margin-top: 5px;">
            <button class="btn btn-lg btn-default primary-button form-control-inline" onclick="editProfile()" type="submit">Submit</button>
            <button id="cancel-edit-profile" class="btn btn-lg btn-default primary-button form-control-inline" type="button">Cancel</button>
        </div>
    </form>
</div>
<div class="green-border view-purity-reports navigation text-center">
    <h1 class="pink">Water Purity Reports</h1>
    <div class="row" style="margin-top: 5px;">
        <button id="cancel-view-purity" class="btn btn-lg btn-default primary-button" type="button">Cancel</button>
    </div>
</div>
<nav class="navigation navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand pink">Clean Water Crowdsourcing</a>
        </div>
        <form class="navbar-form navbar-right">
            <div class="form-group">
                <input type="text" class="form-control green-border" placeholder="Enter Location">
            </div>
            <button type="submit" class="btn btn-default green green-border">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle purple" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if user or worker or manager %}
                    <li><a class="purple" id="submit-source-nav" href="#">Submit Source Report</a></li>
                    {% endif %}
                    {% if manager or worker%}
                    <li><a class="purple" id="submit-purity-nav" href="#">Submit Purity Report</a></li>
                    {% endif %}
                    {% if admin %}
                    <li><a class="purple" id="ban-user" href="#">Ban User</a></li>
                    {% endif %}
                    <li><a class="purple" id = "edit-profile-nav" href="#">Edit Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a class="purple" href="{% url 'login' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<script>
    function initMap() {
        var atlanta = {lat: 33.7756, lng: -84.3963};
        var bounds = new google.maps.LatLngBounds();

        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: atlanta
        });

        var addresses = [{% for report in sourceReports %}'{{ report.water_location }}', {% endfor %}];

        for (x = 0; x < addresses.length; x++) {
             var geocoder = new google.maps.Geocoder();
                    geocoder.geocode( { 'address': addresses[x]}, makeCallback(x, bounds));
        }
        function makeCallback(addressIndex, bounds) {
        var geocodeCallBack = function(results, status) {
            var i = addressIndex;
            if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    var marker = new google.maps.Marker({
                    position: {lat: latitude, lng: longitude}, map: map, label: (i+1).toString()});
                    bounds.extend(marker.position);
               }
               map.fitBounds(bounds);

            }
            return geocodeCallBack;
        }
    }
    function submitSourceReport() {
        var reportLocation = $("#water-address").val();
        var waterType = $("#water-source-type").val();
        var waterCondition = $("#water-source-condition").val();
        $.ajax({
            url: '../addReport/',
            type: 'POST',
            data: {'water-source-address' : reportLocation, 'water-source-type' : waterType, 'water-source-condition': waterCondition},
            success: function(response) {
                console.log(response);
                window.location.href = '../main/';
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxD6fXkottjSqRWsVv5YbWWerS-jk2-tQ&callback=initMap">
</script>
{% endblock %}

</html>