{% extends 'clean_water_crowdsourcing/layout.html' %}

{%block content %}
<div class="jumbotron text-center">
    <h1 class="pink">Enter your information</h1>
    <div class="content container-fluid">
        <form method='post' name="login" class="form col-md-6 col-md-offset-3" action = "{% url 'register' %}">
            {% csrf_token %}
            <div class="row col-md-12">
                <input id="firstname" name="firstname" class=" input-lg col-md-12" type="text" placeholder="First Name">
            </div>
            <div class="row col-md-12">
                <input id="lastname" name="lastname" class=" input-lg col-md-12" type="text" placeholder="Last Name">
            </div>
            <div class="row col-md-12">
                <input id="username" name="username" class=" input-lg col-md-12" type="text" placeholder="Username">
            </div>
            <div class="row col-md-12">
                <input id="email" name="email" class=" input-lg col-md-12" type="text" placeholder="Email">
            </div>
            <div class="row col-md-12">
                <input id="password" name="password" class=" input-lg col-md-12" type="password" placeholder="Password">
            </div>
            <div class="row col-md-12">
                <input id="streetName" name="streetName" class=" input-lg col-md-12" type="text" placeholder="Address Street">
            </div>
            <div class="row col-md-12">
                <input id="cityName" name="cityName" class=" input-lg col-md-5" type="text" placeholder="City">
                <input id="state" name="state" class=" input-lg col-md-3" type="text" placeholder="State">
                <input id="zip" name="zip" class=" input-lg col-md-4" type="text" placeholder="Zip">
            </div>
            <div class="row col-md-12">
                <input id="phone" name="phone" class=" input-lg col-md-12" type="text" placeholder="Phone Number">
            </div>
            <div class="row col-md-12">
                <select class=" input-lg col-md-12" id="type" name="type">
                    <option>User</option>
                    <option>Worker</option>
                    <option>Manager</option>
                    <option>Administrator</option>
                </select>
            </div>
            <div class="row col-md-12">
                <button type="submit" class="primary-button btn-lg btn btn-default col-md-12">Submit</button>
            </div>
            <div class="row col-md-12">
                <a href="#" class="purple" id="cancelBT"><h4>Cancel</h4></a>
            </div>

        </form>
    </div>
</div>
{% endblock %}

</html>