option_settings:
  - namespace: aws:elasticbeanstalk:container:python
          option_name: WSGIPath
          value: SRAT/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
          value: SRAT.settings
  - option_name: AWS_SECRET_KEY
          value: IE+HOccg70v4kivnioQcnzf9HNBSQCLGuHFDEW2S
  - option_name: AWS_ACCESS_KEY_ID
          value: AKIAIAIOFG3ZAZLOIIVQ